.banner{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner p{
    font-size: 38px;
    line-height: 1.4;
    color: white;
}

.header1{
    color: white;
    font-size: 80px;
    font-weight: 700;
}

.header2{
    color: #31d7a9 !important;
}
/* styles.module.css */
/* styles.module.css */

.banner {
    transition: transform 0.3s ease-in-out; 
  }
  
  .banner:hover {
    transform: translateX(20px); 
  }
  